<mat-toolbar color="primary" [class.mat-elevation-z4]="true">
    <button mat-button [routerLink]="['']">{{title}}</button>
    <button mat-icon-button matTooltip="Customer Manager" [routerLink]="['/customermanager']">
        <mat-icon>people_outine</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Auth Callback" [routerLink]="['/auth-callback']">
        <mat-icon>people_outine</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Call API" [routerLink]="['/call-api']">
        <mat-icon>people_outine</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>